@using RazorEngine.Templating
@using BoditeRender
@inherits HtmlTemplateBase<HomePage>

<h2>HomePage: @Model.Title</h2>

<div>
    <h3>Categories</h3>
    @foreach(var c in Model.Model.Categories) {
        <div><a href="hello">@c.Key</a></div>
    }

</div>



