@using BoditeRender
@inherits BoditeTemplate<BoditeModel, HomePage>

<h1>@T("Brigitas Bodite", "Brigitaski Boditeski")</h1>


<aside>
    <h3>@T("Categories", "Categoriskia")</h3>
    <ul>
        @foreach(var cat in Site.Categories) {
            var catPage = FindPage(cat);
            <li>
                <a href="@catPage.Path">@cat.Name</a>
            </li>
        }
    </ul>
</aside>

<div>
    <h2>Home</h2>
    Blah blah blah blah blah    
</div>
