@using BoditeRender
@inherits BoditeTemplate<BoditeModel, HomePage>
@{    
    //var rootCatPage = Context.GetPage.Invoke(new object[] { Model.Locale, rootCat }).Value;
}
<h2>@Page.Title</h2>


<div>
    <h2>Home</h2>

    @foreach(var cat in Site.Categories) {

        var catPage = FindPage(Page.Locale, cat);

        <a href="@catPage.Path">@cat.Name.get(Page.Locale)</a>
    }


</div>



